{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static  'css/about.css' %}">

    <title>About us</title>
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
    
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="Index.html" class="nav-link text-secondary">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                    Home
                  </a>
                </li>
               
                <li>
                  <a href="" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                   Making Orders
                  </a>
                </li>
                <li>
                  <a href="about.html" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                   About
                  </a>
                </li>
                <li>
                  <a href="Contact.html" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                   Contact us
                  </a>
                </li>
                <a href="Cart.html" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                  Cart
                </a>
              </ul>
            </div>
          </div>
        </div>
       
        </div>
      </header>   



<br> <br> <br> <br>


    <section class="ftco-about d-md-flex">
    	<div class="one-half img" ></div>
    	<div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
          <h2 class="mb-4">Welcome to <span class="flaticon-pizza">Pizzeria</span> Restaurant</h2>
        </div>
        <div>
  				<p>Pizzeria About Us: Where Pizza Meets Burgers in Perfect Harmony

                    Welcome to Pizzeria About Us, a culinary haven that celebrates the best of both worlds - the delectable allure of pizza and the irresistible charm of burgers. Our restaurant is more than just a dining destination; it's a gastronomic adventure that promises to tantalize your taste buds and delight your senses.
                    
                    Our Story: A Fusion of Flavors
                    
                    At Pizzeria About Us, we believe that the best meals are those shared with loved ones. Inspired by our passion for culinary creativity and a love for both Italian and American cuisines, we set out on a quest to craft a unique dining experience that bridges cultures and celebrates the art of fusion.
                    
                    Our journey begins in the heart of Italy, where we draw inspiration from the traditional Neapolitan pizza - a timeless classic that embodies the essence of simplicity and authenticity. Handcrafted with the finest ingredients, our pizzas boast a thin, crispy crust, topped with a symphony of flavors that pay homage to Italy's rich culinary heritage.</p>
  			</div>
    	</div>
    </section>

    <section class="ftco-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Chef</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">At Pizzeria About Us, our culinary journey is guided by none other than our esteemed and masterful chef - the Maestro of Culinary Creations. With a passion for flavor, an unwavering dedication to craftsmanship, and a flair for innovation, our chef is the driving force behind the delightful symphony of tastes that grace our menu.</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
      				<div class="img mb-4" ></div>
      				<div class="info text-center">
      					<h3><a href="https://en.wikipedia.org/wiki/Franco_Pepe">Franco pepe</a></h3>
      					<span class="position">masterful Chef</span>
      					<div class="text">
	        				<p>Meet Franco Pepe, an acclaimed chef and the culinary genius behind some of the most sought-after Neapolitan pizzas in the world. Hailing from the pizza capital of Naples, Italy, Franco's passion for pizza-making is deeply rooted in his family's longstanding tradition.</p>
	        			</div>
      				</div>
        		</div>
        	</div>
        	<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
      				<div class="img mb-4" ></div>
      				<div class="info text-center">
      					<h3><a href="https://en.wikipedia.org/wiki/Tony_Gemignani">Tony Gemignani</a></h3>
      					<span class="position">Neapolitan Chef</span>
      					<div class="text">
	        				<p>Tony Gemignani is a renowned and award-winning pizzaiolo hailing from San Francisco, California. With over three decades of experience, Tony is a 13-time World Pizza Champion and a true legend in the world of pizza-making. His pizzas are celebrated for their perfect crusts, diverse styles, and artful toppings. Beyond his culinary mastery, Tony is a charismatic teacher, author, and ambassador for pizza culture.</p>
	        			</div>
      				</div>
        		</div>
        	</div>
        	<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
      				<div class="img mb-4" ></div>
      				<div class="info text-center">
      					<h3><a href="https://en.wikipedia.org/wiki/Chris_Bianco">Chris Bianco</a></h3>
      					<span class="position">Neapolitan Chef</span>
      					<div class="text">
	        				<p>Chris Bianco is an esteemed pizzaiolo and restaurateur based in Phoenix, Arizona. Widely regarded as one of America's top pizza makers, Chris's passion for pizza began at a young age. With an unwavering commitment to quality and simplicity, he has mastered the art of crafting exceptional Neapolitan-style pizzas.</p>
	        			</div>
      				</div>
        		</div>
        	</div>
        	
      				</div>
        		</div>
        	</div>
        </div>
      </div>
    </section>








      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </main>



  <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
      </footer>
    </div>
</body>
</html>