{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login and registration form in Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{% static 'java.js' %}"></script>
</head>
<body>
    <div class="container">
        <input type="checkbox" id="flip" class="m2">
       <div class="cover">
        <div class="front">
            <img src="{% static 'img/pizza1.jpg' %}" alt="Pizza 1">
        </div>
       </div>
       {% block content %}
        <form  action="/" method="post" onsubmit="return validate(this)">
            {% csrf_token %}
        <div class="form-content">
            <div class="login-form">
                <div class="title"> Login </div>
                <div class="input-boxes">
                <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
               <i class="fas fa-lock"></i>
               <input type="password"  name="password" placeholder="Enter your password"required>
                </div>
                <div class="button input-box">
                    <input type="submit" value="Submit">
                </div>
                <br>
                <br>
                <div class="text"> Don't have an account? 
                    <br>
                    <br>
                    <label for="flip"> Sign up now </label>
                </div>
                </div>
                </div>
            </form>
                <br>
                <form  method="post" onsubmit="return validate(this)">
                <div class="signup-form">
                    <div class="title">Sign Up</div>
                    <div class="input-boxes">
                    <div class="input-box">
                        <i class="fas fa-user"></i>
                        <input type="text"  placeholder="Enter your name" required >             
                    </div>
                    <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password"  placeholder="Enter your password"required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="Enter your email" required>
                    </div>
                    <div class="button input-box">
                        <input type="submit" value="Submit">
                    </div>
                    <br>
                    <br>
                    <div class="text"> Have already account? 
                        <br>
                        <br>
                        <label for="flip">Login Now </label></div>
                        </div>
                </div>
        </div>
        </form>
        {% endblock content%}
        </div>
</body>
</html> 
       
